<!DOCTYPE html>

<html ng-app="geektic">
    <head>
        <title>Geektic</title>
		<link href="/js/bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-controller="GeekCtrl">
	
	
	<div class="jumbotron">
		<div class="container">
	 	 	<h1 class = "text-center">GEEKTIC</h1>   
	 	 	<p class = "text-center"><font color="#428bca">Trouver l'amour 4.0</font></p>
		</div>
	 </div>
	 
	 <div class="container">
      <div class="page-header">
        <h1>Je Cherche...</h1>
      </div>
	 </div>

	<center>
	<div class="container marketing">
	<div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/image/1.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Un Geek</h2>
          <p><h4 class = "text-center">Centre d'interets</h4>	
			 <select style="margin-top: 10px;" ng-model="interetHomme" placeholder="selection" ng-options="interet.name for interet in interets">
			 	<option value="">Tous</option>
			 </select>  
		  </p>
          <p><a class="btn btn-success" ng-click="chercher('M',interetHomme.name)" role="button">Go &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
	
		<div class="col-lg-4">
          <img class="img-circle" src="/image/2.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Une Geekette</h2>
          <p><h4 class = "text-center">Centre d'interets</h4>	
			 <select style="margin-top: 10px;" ng-model="interetFemme" placeholder="selction" ng-options="interet.name for interet in interets">
			 	<option value="">Tous</option>
			 </select>  
		  </p>
          <p><a class="btn btn-success" ng-click="chercher('F',interetFemme.name)" role="button">Go &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
		
		<div class="col-lg-4">
          <img class="img-circle" src="/image/3.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>On s'en fout</h2>
          <p><h4 class = "text-center">Centre d'interets</h4>	
			 <select style="margin-top: 10px;" ng-model="interetAutres" placeholder="selction" ng-options="interet.name for interet in interets">
			 	<option value="">Tous</option>
			 </select>  
		  </p>
          <p><a class="btn btn-success" ng-click="chercher('Autre',interetAutres.name)" role="button">Go &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
	</div>
	</div>
		
		
		<div style="margin: 20px 50px; border: solid 1px black; float: left; background-color: #F2F2F2; border-radius: 10px;" >
		     <div style="margin: auto; width: 400px;  border-radius: 10px; padding: 10px;" ng-repeat="geek in geeksbysex">		     		     
			     <p class="text-info">{{ geek.prenom }} {{ geek.nom }}</p>	
			     <p> Age: {{geek.age}} ans. </p>
			     <p> mail: {{geek.mail}}</p>
			     <p> Centres d'intert: </p>	
			     <ul>     		
			     	<li ng-repeat="interet in geek.centresInteret">
			     		{{ interet.name }}
			     	</li>	
			     </ul>	   	   
		     </div>
		</div>
		
		
		
		
        <!-- <h1>{{ hellomessage.message }}</h1> -->

        <script src="/js/angular.js"></script>
        <script src="/js/angular-route.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>